@import '../../mixins.scss';

.phone-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: {
    top: 2rem;
    bottom: 2rem;
  };

  &__input {
    position: relative;
    padding-left: 2rem;
    @include input;

    input {
      left: 2.1875rem;
    }
  }

  &__country-code {
    position: absolute;
    top: 0.6875rem;
    left: 0;
    bottom: 0;
  }
}
