@import '../../mixins.scss';

.email-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: {
    top: 2rem;
    bottom: 2rem;
  };

  &__input {
    @include input;
  }

  &__error {
    @include error;
  }
}
