@import '../../variables.scss';

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: $backgroundUnder;
  display: flex;
  place-items: center;
  place-content: center;
  overflow: auto;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -11.5rem;
  margin-top: -18.75rem;
  min-width: 23rem;
  max-width: 23rem;
  min-height: 37.5rem;
  background: $background;
  border-radius: $borderRadius;
  z-index: 2;

  @media only screen and (min-device-width: 480px)
    and (max-device-width: 900px)
    and (orientation: landscape) {
    top: 1rem;
    margin-top: 0;
  }

  &__top {
    height: 9.375rem;
    padding: 1rem;
  }

  &__controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    z-index: 3;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 9.375rem;
    width: 100%;
    background: rgb(241, 138, 136, .2);
    content: '';
    z-index: 1;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
  }

  &__title {
    margin: {
      top: .2rem;
      left: .5rem;
      right: .5rem;
    };
  }

  &__section {
    padding: 1.5rem;
  }
}

.modal-control {
  cursor: pointer;
  user-select: none;
}

.modal-back {
  width: 1.5625rem;
  height: 1.5625rem;

  img {
    width: 100%;
    height: 100%;
  }
}

.modal-close {
  font-size: 1.5rem;
  --webkit-transform: rotate(45deg);
  --moz-transform: rotate(45deg);
  --ms-transform: rotate(45deg);
  transform: rotate(45deg);
  font-weight: bold;
}
