html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

:root {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;

  font: normal 1rem/1.6 -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

a {
  text-decoration: inherit;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 20rem;
  min-height: 100vh;
  overflow-y: auto;
  line-height: 1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: .5rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: .25rem auto -webkit-focus-ring-color;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
