@import './variables.scss';

@mixin input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  border-bottom: 0,0625rem solid $border;
  padding: {
    top: .5rem;
    bottom: .5rem;
  };
  font-size: 1.1rem;

  input {
    background: transparent;
    position: absolute;
    top: 0;
    left: 1.25rem;
    right: 0;
    bottom: 0;
  }
}
