$text: rgb(64, 64, 66);
$link: rgb(229, 37, 129);
$border: rgb(238, 240, 242);
$error: rgb(202, 68, 68);
$linkHover: rgb(122, 12, 65);
$background: #fff;
$backgroundUnder: rgba(0, 0, 0, .1);
$borderRadius: 1rem;
$gradient: linear-gradient(127.569deg, rgb(229, 37, 140), rgb(130, 60, 215));
$gradientHover: linear-gradient(127.569deg, rgb(130, 60, 215), rgb(229, 37, 140));


